* {
  border: none;
  border-radius: 0;
  font-family: "Roboto";
  font-size: 13.5px;
  font-weight: bold;
}

window#waybar {
  background-color: transparent;
  color: white;
}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#mode {
  margin: 2px 0;
  padding: 0 10px;
  margin-left: 15px;
  background: #1f2037;
  border-radius: 5px;
}

#workspaces {
  margin-left: 15px;
}

#workspaces button {
  color: #c0caf5;
  padding: 0 4px;
}

#workspaces button.focused {
  color: cyan;
}

#workspaces button.urgent {
  color: white;
}

#workspaces button.persistent {
  color: #414868;
}

#workspaces button:hover {
  background: #1f2037;
  border: none;
}

#clock {
  background: #1f2037;
  margin: 2px 2px;
  padding: 0 15px;
  border-radius: 5px;
}

#workspaces {
  background: #1f2037;
  padding: 0px 10px;
  border-radius: 5px;
  margin: 2px 0;
  margin-left: 10px;
}

#backlight,
#network,
#battery,
#language,
#pulseaudio,
#disk,
#memory,
#tray,
#cpu {
  background: #1f2037;
  margin: 2px 0;
  margin-right: 2px;
  padding: 0 10px;
  border-radius: 5px;
}

#language {
  min-width: 50px;
}

#pulseaudio {
  color: #52cef5;
}

#cpu {
  color: #fca800;
}

#memory {
  color: #08fc00;
}

#custom-media {
    background: #1f2037;
    margin: 2px 0;
    margin-right: 2px;
    padding: 0 10px;
    border-radius: 5px;

    min-width: 300px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
    color: #2a5c45;
}

#custom-media.custom-firefox {
    background-color: #ff8847;
    color: #2a5c45;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}
